@page "/"
@inject HttpClient http

<h1>Hello, world!</h1>

Welcome to your new app.

<img src="data:image/png;base64, @jigsawPuzzle.BackgroundImage" />

<SurveyPrompt Title="How is Blazor working for you?" />

@code{
    private JigsawPuzzle jigsawPuzzle;

	protected override async Task OnInitializedAsync()
    {
        jigsawPuzzle = await http.GetFromJsonAsync<JigsawPuzzle>("api/jigsaw-puzzle");
    }
}