<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        Please share your thoughts on
        <a target="_blank" class="font-weight-bold" href="https://github.com/goh-chunlin/Lunar.JigsawPuzzleCaptcha/issues">our GitHub Issues page</a>.
    </span>
</div>

@code {
    [Parameter]
    public string Title { get; set; }
}
